// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.tetromino {
}

.tetromino-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.tetromino-game {
    order: 1;
}

.tetromino-menu {
    order: 2;
}

.tetromino-title {
    text-align: center;
}

.tetromino .key-command {
    font-family: monospace;
}

.tetromino-canvas {
    display: block;
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    background-color: rgb(42, 42, 42);
    white-space: pre;
    margin: 1em 0;
}

.tetromino-border {
    color: #BBB
}

.tetromino-shape-i {
    color: #FF0000;
}

.tetromino-shape-o {
    color: #00FF00;
}

.tetromino-shape-t {
    color: #0000FF;
}

.tetromino-shape-l {
    color: #FF00FF;
}
.tetromino-shape-j {
    color: #00FFFF;
}
.tetromino-shape-s {
    color: #FFFF00;
}
.tetromino-shape-z {
    color: #FFFFFF;
}
